$black: #3B3F43 !default;
$gray: #88898D !default;
$silver: #EAEAEA !default;
$white: #FFFFFF !default;

$purple: #CC99C9 !default;
$blue: #9EC1CF !default;
$green: #9EE09E !default;
$yellow: #FDFD97 !default;
$orange: #FEB144 !default;
$red: #FF6663 !default;
